/* basic elements */

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* fader */

.slideshow {
  position: relative;
  margin: 20px auto;
  padding: 0;
  width: 980px;
  height: 693px;
  overflow: hidden;
}

/* navigation links */

#next, #prev {
  position: absolute;
  width: 97px;
  height: 77px;
  bottom: 65px;
  z-index: 99;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
#next {
  right: 10px;
  background: transparent url(../img/next-off.png) no-repeat;
}
#next:hover {
  right: 10px;
  background: transparent url(../img/next-on.png) no-repeat;
}
#prev {
  left: 10px;
  background: transparent url(../img/prev-off.png) no-repeat;
  display: none;
}
#prev:hover {
  left: 11px;
  background: transparent url(../img/prev-on.png) no-repeat;
}

/* links on pages */

.link {
  position: absolute;
  padding: 5px;
  text-decoration: none;
}
